<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Capataz</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>Editar Capataz</h1>

<form th:action="@{/capataces/actualizar}" th:object="${capataz}" method="post">
    <label>Nombre de Usuario:</label>
    <input type="text" th:value="${capataz.user.username}" readonly />
    <input type="hidden" th:field="*{user.id}" />

    <label>DNI:</label>
    <input type="text" th:field="*{dniCapataz}" readonly/>

    <label>Nombre:</label>
    <input type="text" th:field="*{nombreCapataz}" required/>

    <label>Apellido:</label>
    <input type="text" th:field="*{apellidoCapataz}" required/>

    <label>Puesto:</label>
    <select th:field="*{puestoCapataz}" required>
        <option value="CAPATAZ">CAPATAZ</option>
        <option value="CONTRAGUIA">CONTRAGUIA</option>
        <!-- Agrega más si hay más roles en el enum -->
    </select>

    <label>Paso:</label>
    <select th:field="*{paso.idPaso}" required>
        <option th:each="p : ${pasos}" th:value="${p.idPaso}" th:text="${p.nombreTitular}">Paso</option>
    </select>

    <input type="submit" value="Actualizar"/>
</form>

<button onclick="goBack()">Volver</button>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>
